{% extends "img2xl_app/base.html" %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'img2xl_app/css/settings.css' %}">
	<link rel="stylesheet" href="{% static 'img2xl_app/css/settings/account.css' %}">
	<link rel="stylesheet" href="{% static 'img2xl_app/css/settings/profile.css' %}">
	<link rel="stylesheet" href="{% static 'img2xl_app/css/settings/password.css' %}">
	<link rel="stylesheet" href="{% static 'img2xl_app/css/settings/linkedAccount.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group list-group-flush rounded" id="settingsTabs" role="tablist">
				<a class="list-group-item list-group-item-action active" data-toggle="pill"
					href="#account">Account</a>
				<a class="list-group-item list-group-item-action" data-toggle="pill"
					href="#profile">Profile</a>
				<a class="list-group-item list-group-item-action" data-toggle="pill"
					href="#password">Password</a>
				<a class="list-group-item list-group-item-action" data-toggle="pill"
					href="#linked">Linked accounts</a>
			</div>
		</div>
		
		<div class="col-md-9">
			<div class="tab-content p-4 rounded">
				<div class="tab-pane active" id="account">
					{% include "img2xl_app/settings/account.html" %}
				</div>
				<div class="tab-pane" id="profile">
					{% include "img2xl_app/settings/profile.html" %}
				</div>
				<div class="tab-pane" id="password">
					{% include "img2xl_app/settings/password.html" %}
				</div>
				<div class="tab-pane" id="linked">
					{% include "img2xl_app/settings/linkedAccount.html" %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'img2xl_app/js/components/settings/account.js' %}"></script>
	<script src="{% static 'img2xl_app/js/components/settings/profile.js' %}"></script>
	<script src="{% static 'img2xl_app/js/components/settings/password.js' %}"></script>
	<script src="{% static 'img2xl_app/js/components/settings/linkedAccount.js' %}"></script>
{% endblock %}